
# Django/Python ignores
env/
__pycache__/
applocals.py
*.sqlite3
*.log
angular_static/

# Django coverage report data
.coverage
htmlcov/

# Angular ignores are in webtext/website/appclient/.gitignore
